@media screen and (max-width: 1400px){
    #home{
        height: 83vh;
        margin-bottom: 6rem;
    }
    .section-cnt{
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 1200px){
    #desk-nav{
        display: none;
    }
    #ham-nav{
        display: flex;
    }

    #experience, #exp-details-cnt{
        margin-top: 2rem;
    }
    #home, .section-cnt{
        display: block;
    }
    .arrow{
        display: none;
    }
    .section-cnt, section{
        height: fit-content;
    }
    section{
      margin: 0 5%;
    }
    .section_pic-cnt{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-cntr{
        margin-top: 0;
    }
}

@media  screen and (max-width: 600px) {

    #ham-nav.contact, #ham-nav.projects{
        display: mone;
    }
    .cnt-ham, .proj-ham, .hm-cnt-btn{
        display: none;
    }
    #contact, #projects{
        display: none;
    }
    footer{
        height: 83vh;
        margin-bottom: 0;
    }
    article{
        font-size: 1rem;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-cntr, .contact-info-u-cnt, .btn-cnt, .about-cnt{
        flex-wrap: wrap;
    }
    .contact-info-cnt{
        margin: 0;
        height: auto;
        display: block;
    }
    .contact-info-cnt p, .nav-links li a{
        font-size: 1rem;
    }
    .experience-sub{
        font-size: 1.25rem;
    }
    .logo{
        font-size: 1.5rem;
    }
    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section_pic-cnt{
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section_txt-p2{
        font-size: 1.25rem;
    }
    .title{
        font-size: 2rem;
    }
    .text-cnt{
        text-align: justify;
    }
    .project-title, .project-btn, .proj-p, .proj-t {
       display: none;
    }
    .project-img{
        display: none;
    }
}
